# .env ejemplo para credenciales proyecto
# --- BACKEND/DJANGO ---
DJANGO_SECRET_KEY=pon_aqui_secret
DEBUG=True
DB_NAME=db.sqlite3
# --- GOOGLE OAUTH ---
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/google/callback/
GOOGLE_PROJECT_ID=
GOOGLE_API_KEY=
# --- GOOGLE CALENDAR ---
GOOGLE_CALENDAR_ID_CLIENTE=
# --- EMAIL NOTIFICACIONES ---
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
# --- FRONTEND SPA (agrega token si lo usas en env local)
VITE_GOOGLE_CLIENT_ID=
