# Ignore todo excepto backend y spa-client

!/becrud/
!/api/
!/spa-client/
!/manage.py
!/db.sqlite3
# Opcional: permite solo archivos clave del backend/spa-client
spa-client/node_modules/
spa-client/dist/
spa-client/.env
# Django residuos comunes
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
.env
venv/
# Excluir backups u otros
*.bak
*.old
.opencode/*
.agents/*
AGENTS.md
skills-lock.json
.coverage
.github/*
dev_tools.sh
spa-client/coverage/base.css
spa-client/coverage/block-navigation.js
spa-client/coverage/clover.xml
spa-client/coverage/coverage-final.json
spa-client/coverage/favicon.png
spa-client/coverage/index.html
spa-client/coverage/prettify.css
spa-client/coverage/prettify.js
spa-client/coverage/sort-arrow-sprite.png
spa-client/coverage/sorter.js
spa-client/coverage/src/App.css.html
spa-client/coverage/src/App.tsx.html
spa-client/coverage/src/index.html
spa-client/coverage/src/api/ApiService.ts.html
spa-client/coverage/src/api/GalleryService.ts.html
spa-client/coverage/src/api/index.html
spa-client/coverage/src/api/ReservaService.ts.html
spa-client/coverage/src/components/GallerySection.tsx.html
spa-client/coverage/src/components/index.html
spa-client/coverage/src/components/Login.tsx.html
spa-client/coverage/src/components/ReservaForm.tsx.html
spa-client/coverage/src/components/ReservaList.tsx.html
spa-client/coverage/src/components/ThemeToggle.css.html
spa-client/coverage/src/components/ThemeToggle.tsx.html
spa-client/coverage/src/hooks/index.html
spa-client/coverage/src/hooks/useAuth.ts.html
spa-client/coverage/src/hooks/useGallery.ts.html
spa-client/coverage/src/hooks/useReservas.ts.html
spa-client/coverage/src/store/authStore.ts.html
spa-client/coverage/src/store/index.html
spa-client/coverage/src/stores/index.html
spa-client/coverage/src/stores/useThemeStore.ts.html
